h1{
    color: rgb(91, 170, 201);
}
.menu{
    justify-content: end;
}
.header{
    background-color: moccasin;
    display: flex;
    justify-content: space-around;
    border: solid;
    border-color: teal;
}
.grid{
    background-color: rgba(221, 160, 221, 0.671) ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: solid;
    border-width: 10px;
    border-color: tomato;
}
p,li{
    text-align: center;
    color: teal;
}

.item p{
    border: solid;
    border-color: tomato;
}